[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tensorflow = {version = "*", sys_platform = "== 'darwin'"}
tensorflow-gpu = {version = "*", sys_platform = "!= 'darwin'"}
kafka = "*"
opencv-python = "*"

[requires]
python_version = "3.6"
